<p id="notice"><%= notice %></p>

<p>
  <strong>Linea detalle dev:</strong>
  <%= @detalle_devolucion.linea_detalle_dev %>
</p>

<%= link_to 'Edit', edit_detalle_devolucion_path(@detalle_devolucion) %> |
<%= link_to 'Back', detalle_devolucions_path %>
